{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>story 8 naufaldi</title>
    <link rel = "stylesheet" type = "text/css" href = "{%static 'css/styling.css' %}"/>
    <link rel = "stylesheet" type = "text/css" href = "{%static 'css/switchstyle.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/jscript.js' %}"></script>
</head>
<body class = "loading" id="background" onload="nightmode()">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <div class="dots-loader"></div>
<div class="container">
    <div id = "nightmode">
        <label class="switch">
            <input type="checkbox" onclick="nightmode()">
            <span class="slider"></span>
        </label>
        Night Mode
    </div>
</div>
<div class="container">
    <div class="row">
    <h1 id = "font">My Profile<br></h1>
    <!-- Contenedor -->
    <ul id="accordion" class="accordion">
    <li>
<div class="col col_4 iamgurdeep-pic">
<img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="https://preview.ibb.co/enPAq0/Naufaldi-Athallah-Rifqi-olim.jpg" title="Foto ganteng">
<div class="edit-pic">
<a href="https://www.facebook.com/naufaldifqi" target="_blank" class="fa fa-facebook"></a>
<a href="https://www.instagram.com/naufaldirfq/" target="_blank" class="fa fa-instagram"></a>
<a href="https://twitter.com/naufaldirfq" target="_blank" class="fa fa-twitter"></a>



</div>
<div class="username">
    <h2>Naufaldi Athallah Rifqi <br><small><i class="fa fa-map-marker"></i> Indonesia (Depok)</small></h2>
    <p><i class="fa fa-briefcase"></i> Faculty of Computer Science Universitas Indonesia.</p>
    
    <a href="https://www.facebook.com/naufaldifqi" target="_blank" class="btn-o"> <i class="fa fa-user-plus"></i> Add Friend </a>
    <a href="https://www.instagram.com/naufaldirfq/" target="_blank"  class="btn-o"> <i class="fa fa-plus"></i> Follow IG</a>
    
   
</div>
</div>
        
    </li>
        <li>
            <div class="link"><i class="fa fa-globe"></i>About<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li><a href="#"><i class="fa fa-calendar left-none"></i> Date of Birth : 02/16/1999</a></li>
                <li><a href="#">Address : Indonesia, Depok</a></li>
                <li><a href="mailto:naufalrifqi1602@gmail.com">Email : naufalrifqi1602@gmail.com</a></li>
                <li><a href="#">Phone : +62 87887662027</a></li>
            </ul>
        </li>
        <li>
            <div class="link"><i class="fa fa-book"></i>Experiences<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li><a href="#"><span class="tags">Universitas Indonesia</span> <span class="tags">Faculty of Computer Science</span> <span class="tags">Staff of Event CS League 2018</span> <span class="tags">Staff of Seminar COMPFEST X</span>
                <span class="tags">Staff of Athletic Department BEM Fasilkom UI</span> <span class="tags">Staff of Basketball Universiade 2017</span> <span class="tags">Project Officer of CS League 2019</span></a>
            </ul>
        </li>
        <li>
            <div class="link"><i class="fa fa-futbol-o"></i>Activities<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li><a href="#"><span class="tags">Belajar</span> <span class="tags">Makan</span> <span class="tags">Tidur</span> <span class="tags">Ngerjain tugas</span>
                <span class="tags">Begadang</span> <span class="tags">Minum Kopi</span> <span class="tags">Rapat</span></a>
            </ul>
        </li>
        <li>
            <div class="link"><i class="fa fa-trophy"></i>Achievements<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li><a href="#"><span class="tags">Finalist Business IT Case ITToday IPB 2018</span></a>
            </ul>
        </li>
        <li>
            <div class="link"><i class="fa fa-trophy"></i>Last but not least<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li><a href="/lab10/"><span class="tags">Please Subscribe</span></a>
            </ul>
        </li>

    </ul>
    </div>
    
 
    
</div>