{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet" type = "text/css" href = "{%static 'css/switchstyle.css' %}"/>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{% static 'js/jscript.js' %}"></script>
	<title>Switch</title>
</head>
<body>
<div class="container">
    <div id = "nightmode">
        <label class="switch" onclick="nightmode()">
            <input type="checkbox">
            <span class="slider"></span>
        </label>
        Night Mode
    </div>
</div>
</body>
</html>