{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Naufaldi Athallah</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{%static 'stylesheet.css' %}"/>

</head>
<body>
    <li><a href="/lab8/">Profile Page</a></li>
<section>
	<br>
  <div>
        <div style="width: 30%; margin: auto;" class = "jumbotron">
        	<div class="row" style="background-color: #b63b4d">
        	<h1 style="font-family: niramit; text-align: center; font-size: 40px" >Input your email to unsubscribe</h1>
        	<br>
        	</div>
        	<br>
            <form id="form" method="POST" onsubmit="window.submit()">
            {% csrf_token %}
            {{ form }}
            <button href="/lab10" id="submit" type="submit" class="btn btn-lg btn-info" value="Subscribe" formnovalidate="formnovalidate">Unsubscribe</button>
          </form>
        </div>
    </div>
</section>
<script type="text/javascript">
    console.log("unsubscribe")
    document.getElementById("submit").disabled = true;
    var email = document.getElementById('email');
    var time = null;

    email.onkeyup = function(e){
        clearTimeout(time);
        time = setTimeout(function(){
            $.ajax({
                method : 'POST',
                url : "{% url 'story10:validasi' %}",
                data : {
                    'email' : email.value
                },
                dataType : 'json',
                
                success: function(data){
                    if(data.is_taken){
                        document.getElementById("submit").disabled = false;
                        console.log("udah ada");
                        alert("Email tersedia, silakan klik tombol unsubscribe");
                    }
                    else{
                        console.log("data tidak ada");
                        alert("Email tidak ada");
                        email.value = "";
                    }
                }
            })
        }, 1200);
    }

    function submit(){
        console.log("submit")
        event.preventDefault();
        delObj();
    }

    function delObj(){
        console.log("delete email")
        $.ajax({
            type : "POST",
            url : "{% url 'story10:delObject' %}",
            dataType: 'json',
            data :{
                email : $('#email').val(),
            },
            success: function(result){
                alert("berhasil unsubscribe")
                window.location.reload();
            }
        })
    }


    
</script>

</body>
</html>