{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Naufaldi Athallah</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{%static 'css/stylesheet.css' %}"/>

</head>
<body>
    <li><a href="/lab8/">Profile Page</a></li>
<section>
	<br>
  <div>
        <div style="width: 30%; margin: auto;" class = "jumbotron">
        	<div class="row" style="background-color: #b63b4d">
        	<h1 style="font-family: niramit; text-align: center; font-size: 40px" >Thanks for visiting!</h1>
        	<br>
        	</div>
        	<br>
            <form id="form" method="POST" onsubmit="window.submit()">
            {% csrf_token %}
            {{ form }}
            <button id="submit" type="submit" class="btn btn-lg btn-info" value="Subscribe" formnovalidate="formnovalidate">Subscribe</button>
            <li><a href="unsubscribe"> Unsubscribe</a></li>
          </form>
        </div>
    </div>
</section>
<div style="padding-top: 2%; margin-left: 10%;margin-right: 10%;">
        <table id="tabel" class="table table-light table-bordered table-hover" style="background-color: whitesmoke;">
            <tbody>
            <thead>
                <tr style="background-color: whitesmoke;">
                    <th scope="col" style="text-align: center;">Nama</th>
                    <th scope="col" style="text-align: center;">Email</th>
                </tr>
            </thead>
            </tbody>
        </table>    
    </div>
</div>
<script src="{% static 'js/subscriber.js' %}"></script>
<script type="text/javascript">
    console.log("hello")
    document.getElementById("submit").disabled = true;
    var email = document.getElementById('email');
    var time = null;

    email.onkeyup = function(e){
        clearTimeout(time);
        time = setTimeout(function(){
            $.ajax({
                method : 'POST',
                url : "{% url 'story10:validasi' %}",
                data : {
                    'email' : email.value
                },
                dataType : 'json',
                success: function(data){
                    if(data.is_taken){
                        console.log("udah ada")
                        alert("Email sudah terdaftar, masukkan email lain");
                        email.value = "";
                    }
                    else{
                        document.getElementById("submit").disabled = false;
                        console.log("data tidak ada")
                        alert("Email dapat digunakan");
                    }
                }
            })
        }, 1200);
    }

    function submit(){
        console.log("submit")
        event.preventDefault();
        register();
    }

    function register(){
        console.log("register")
        var nama = document.getElementById("text1");
        $.ajax({
            type : "POST",
            url : "{% url 'story10:addSubscribe' %}",
            dataType: 'json',
            data :{
                nama : $('#nama').val(),
                email : $('#email').val(),
                password : $('#password').val(),
            },
            success: function(result){
                alert($('#nama').val() + " telah terdaftar")
                window.location.reload();
            }
        })
    }
</script>

</body>
</html>