<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
{% block content %}
	{% if user.is_authenticated %}
             <p class="display-4">Hello, {{ user.username }}</p>
	{% else %}
             <a class="lead" href="{% url 'story11:login' %}">Log in</a>
	{% endif %}
{% endblock content %}
</body>
</html>