{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/buttonstyle.css' %}"/>
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/searchstyle.css' %}"/>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<title>Books</title>
</head>
<body>
	<br>
	<a href="/lab11/logout" onclick="signOut();">Sign out</a>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>
{% block content %}
	{% if user.is_authenticated %}
             <p class="display-4">Hello, {{ user.first_name }}</p>
	{% else %}
             <a class="lead" href="{% url 'story11:login' %}">Log in</a>
	{% endif %}
{% endblock content %}
<div class="container">
    <div style="text-align: center;">
    	<img src="https://image.ibb.co/i2nUn0/star.png" style="text-align: center;" >
    	<h1 style="text-align: center;" id="counter">0</h1>
    <h1>Keyword</h1>
    <ul id="myUL">
  <li><a href="/lab9/">Programming</a></li>
  <li><a href="/lab9/quilting">Quilting</a></li>
</ul>

<div style="padding-top: 2%; margin-left: 10%;margin-right: 10%;">
		<table id="tabel" class="table table-light table-bordered table-hover" style="background-color: whitesmoke;">
			<tbody>
			<thead>
				<tr style="background-color: whitesmoke;">
			    	<th scope="col" style="text-align: center;">Cover</th>
			    	<th scope="col" style="text-align: center;">Title</th>
			     	<th scope="col" style="text-align: center;">Authors</th>
			     	<th scope="col" style="text-align: center;">Publisher</th>
			      	<th scope="col" style="text-align: center;">Add to Favorites</th>
				</tr>
			</thead>
			</tbody>
		</table>	
	</div>
    </div>
    <script src="{% static 'js/func1.js' %}"></script>
</body>
</html>