.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checked {
    color: orange;
}

@import url('https://fonts.googleapis.com/css?family=Rasa');
.clicked {
    color: yellow !important;
}

.counter-container {
    font-family: 'Rasa', serif;
    font-size : 2rem;
    color : pink;
    text-align: center;
}
